# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Backups
*~

# JSON Data
*.json

# CSV Data
*.csv

# PNG
*.png

# IDE files
.idea

# cmake
*/CMakeFiles/
*/CMakeCache.txt
StatisticalTest/aqi.png
StatisticalTest/*.pdf
